.cardProducto{
    width: 18rem;
    margin: 40px;
    background-color: hsl(0, 0, 97%);
}


.cardProductos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.cardBody{
    background-color: white;
    margin-bottom: 4px;
    text-align: center;
}

img{
    margin-top: 4px;
}

.itemDetail{
    max-width: 540px;
    margin-top: 4px;
}